doctype html
html(lang="en")
	head
		title Mi pagina 
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet") 
		link(rel="stylesheet" type="text/css" href="css/main.css")
		link(rel="stylesheet" type="text/css" href="css/animate.css")
	body
		div(class="col-md-3 center-block quitar-float text-center espacio-arriba")
			img(src="image/cactus.png" alt="planta" style="width: 200px; height: 200px" class="animated flip")
			h1(class="Domine grande red animated bounceIn retraso-1") VIVERO LUNA
			div(class="animated fadeInDown retraso-2")
				h2 ¡Vive, disfruta y ama!
				nav
					a(href="menu.html" class="espacio-derecha a") Menu
					a(href="contacto.html" class="espacio-derecha a") Contacto
					a(href="https://www.facebook.com/nayeelitha.oosoriocastell a") A cerca de