body{
	/*para usar el puglins de colorpiker teclear ctrl+shift+c*/
	background-color: #F4DAC9;
	color: #E56565;
	font-family: 'Lato', sans-serif;
}

img{
	max-width: 100%;
	
}

.quitar-float{
	float: none;
}

.espacio-arriba{
	margin-top: 100px;
}

.Domine{
	font-family: 'Domine', serif;
}

.grande{
	font-size: 3em;
}

.espacio-derecha{
	margin-right: 1em;
}

.red{
	color: #F23545;
}

.sub{
	color: #29A30F;
}

.black{
	color: #170808;
}

.conta-media{
	font-size: 2em;
}
.vete-arriba{
	vertical-align: top;
}
.padding-largo{
	margin: 5px 10px; 
}

.inline-block{
	float:none;
	display: inline-block;
	margin-right: -4px;
}

.se-gris{
	background-color: #eee;
}

.no-list{
	margin: 0px;
	padding: 0px;
}
.no-list li{
	list-style-type: none;

}

.salto{
	margin-bottom: : 10px;
}

a,.violeta{
	color: #914E86;
	font-family: bold;
}

.retraso-1{
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay: 1s;
}

.retraso-2{
	-webkit-animation-delay:2s;
	-moz-animation-delay:2s;
	animation-delay: 2s;
}